// {
//     "presets": [
//       [
//         "@babel/preset-env", {
//           "targets": {
//             "node": "current"
//           }
//         }
//       ]
//     ]
//   }

// .babelrc
{
  "presets": ["@babel/preset-env"]
}